# PORT
PORT=8000

# secret key
SECRET_KEY=350b5c40f32e181536855dfcbdccd68dcca3f093e290c1e521ccbe62783ea2f7
JWT_SECRET=ecfedf61b67a61fbbefcdbe06be7220f4ebcb0d2cba11f6987a120faebdd5d1a
ACCESS_TOKEN_EXPIRATION=1d 

REFRESH_TOKEN_SECRET=4fbddbf65ad963e9ccb5ec488e221703e672b3329174351cf6a40758883abef9
REFRESH_TOKEN_EXPIRATION=7d

# SETUP DB
PGUSER=your_local_postgres_username
PGHOST=localhost
PGPASSWORD=your_local_postgres_password
PGDATABASE=your_database_name
PGPORT=5432